In [ ]:
import pandas as pd

df = pd.read_csv(
    "https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e2_p1_1.csv"
)
df.head(2)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,NaN,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.9,4.98,24.0
1,0.02731,NaN,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.9,9.14,21.6

In [ ]:
df = df.sort_values(by="CRIM", ascending=False).reset_index(drop=True)
df.head(10)
df.loc[:9, "CRIM"] = df.loc[:9, "CRIM"].min()
mean = df.loc[df["AGE"] >= 80, "CRIM"].mean()
mean

5.759386625

In [ ]:
answer = df["RM"].std()
print(answer)
median = df["RM"].median()
df["RM"] = df["RM"].fillna(median)
answer = abs(answer - df["RM"].std())
print(round(answer, 3))

0.7212529033559508
0.027

In [ ]:
mean = df["DIS"].mean()
print(mean)
std = df["DIS"].std()
print(std)
answer = (
    df["DIS"].loc[(df["DIS"] > mean + 1.5 * std) | (df["DIS"] < mean - 1.5 * std)].sum()
)
print(answer)

3.795042687747036
2.1057101266276113
404.4101

In [ ]:
import pandas as pd

# 데이터 로드
x_train = pd.read_csv(
    "https://raw.githubusercontent.com/Datamanim/datarepo/main/shipping/X_train.csv"
)
y_train = pd.read_csv(
    "https://raw.githubusercontent.com/Datamanim/datarepo/main/shipping/y_train.csv"
)
x_test = pd.read_csv(
    "https://raw.githubusercontent.com/Datamanim/datarepo/main/shipping/X_test.csv"
)
x_label = pd.read_csv(
    "https://raw.githubusercontent.com/Datamanim/datarepo/main/shipping/y_test.csv"
)


display(x_train.head())
display(y_train.head())

,ID,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms
0,6045,A,Flight,4,3,266,5,high,F,5,1590
1,44,F,Ship,3,1,174,2,low,M,44,1556
2,7940,F,Road,4,1,154,10,high,M,10,5674
3,1596,F,Ship,4,3,158,3,medium,F,27,1207
4,4395,A,Flight,5,3,175,3,low,M,7,4833

     ID  Reached.on.Time_Y.N
0  6045                    0
1    44                    1
2  7940                    1
3  1596                    1
4  4395                    1

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import (
    accuracy_score,
    f1_score,
    recall_score,
    precision_score,
    roc_auc_score,
)
from sklearn.model_selection import train_test_split

In [ ]:
# x_train 전처리 및 범주화
x_train = x_train.drop(columns=["ID"])
x_train = pd.get_dummies(x_train)
# y_train 전처리
y_train = y_train.drop(columns=["ID"])

# x_test 전처리 및 범주화
x_test = x_test.drop(columns=["ID"])
x_test = pd.get_dummies(x_test)

y_test = x_label.drop(columns=["ID"])

In [ ]:
model = RandomForestClassifier(random_state=42)
model.fit(x_train, y_train)
y_pred = model.predict(x_test)
y_pred_prob = model.predict_proba(x_test)[:, 1]

/opt/anaconda3/envs/myenv/lib/python3.9/site-packages/sklearn/base.py:1389: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

In [ ]:
acc = accuracy_score(y_test, y_pred)
print("정확도 : ", acc)

model_f1_score = f1_score(y_test, y_pred)
print("F1-score : ", model_f1_score)

model_recall_score = recall_score(y_test, y_pred)
print("Recall : ", model_recall_score)

model_precision_score = precision_score(y_test, y_pred)
print("Precision : ", model_precision_score)

model_roc_auc_score = roc_auc_score(y_test, y_pred_prob)
print("ROC AUC : ", model_roc_auc_score)

정확도 :  0.6568961599636446
F1-score :  0.6908271908271908
Recall :  0.6424219345011424
Precision :  0.7471213463241807
ROC AUC :  0.7340484644347424

In [ ]:
# csv 로 저장하기
x_test = pd.read_csv(
    "https://raw.githubusercontent.com/Datamanim/datarepo/main/shipping/X_test.csv"
)

pd.DataFrame({"ID": x_test["ID"], "Reached.on.Time_Y.N": y_pred}).to_csv("20250619.csv")
pd.DataFrame({"ID": x_test["ID"], "Reached.on.Time_Y.N": y_pred_prob}).to_csv(
    "20250619_prob.csv"
)

In [ ]:
import pandas as pd

df = pd.read_csv(
    "https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e2_p3_1.csv"
)
df.head(5)

     fish   height
0  fish_1  33.74cm
1  fish_2  31.64cm
2  fish_3  27.49cm
3  fish_4  31.43cm
4  fish_5  27.56cm

In [ ]:
df["height_raw"] = df["height"].str.replace("cm", "").astype(float)
print(round((df["height_raw"].mean()) * 0.01, 5))

0.29951

In [ ]:
from scipy.stats import ttest_1samp

s, p = ttest_1samp(df["height_raw"], 30)
result = round(s, 3)
print(result)

-0.217

In [ ]:
p_result = round(p, 3)
result = "귀무"
print(p_result)
print(result)

0.829
귀무

In [ ]:
from scipy.stats import binom

p = 0.7
n = 21
k = 16

result = binom.cdf(k - 1, n, p)
result = round(result, 3)
print(result)

0.637

In [ ]:
p = 0.7
n = 21
k = 19

result = binom.cdf(k - 1, n, p)
result = round(1 - result, 3)
print(result)

0.027

In [ ]:
import pandas as pd

df = pd.read_csv(
    "https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p1_1.csv"
)
df.head(5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [ ]:
df.isnull().sum()
df = df.dropna().reset_index(drop=True)
df = df.iloc[: int(len(df) * 0.7)]
result = round(df["median_income"].quantile(0.25), 2)
print(result)

2.51

In [ ]:
import pandas as pd

df = pd.read_csv(
    "https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p1_2.csv"
)
df.head()

  Country Name Country Code  Year      Value
0   Arab World          ARB  1968  2576068.3
1   Arab World          ARB  1969  2843420.4
2   Arab World          ARB  1970  3138550.0
3   Arab World          ARB  1971  3642691.0
4   Arab World          ARB  1972  4331605.7

In [ ]:
# 1-2

In [ ]:
import pandas as pd

df = pd.read_csv(
    "https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p1_3.csv"
)
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3.0,"Braund, Mr. Owen Harris",male,22.0,1.0,0.0,A/5 21171,7.2500,NaN,S
1,2,1,1.0,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1.0,0.0,PC 17599,71.2833,C85,C
2,3,1,3.0,"Heikkinen, Miss. Laina",female,26.0,0.0,0.0,STON/O2. 3101282,7.9250,C85,S
3,4,1,1.0,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1.0,0.0,113803,53.1000,C123,S
4,5,0,3.0,"Allen, Mr. William Henry",male,35.0,0.0,0.0,373450,8.0500,C123,S

In [ ]:
result = df.isnull().sum().sort_values().index[-1]
print(result)

Fare

In [ ]:
import pandas as pd

train = pd.read_csv(
    "https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p2_train_.csv"
)
test = pd.read_csv(
    "https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p2_test_.csv"
)
train.head()

,ID,Age,Employment Type,GraduateOrNot,AnnualIncome,FamilyMembers,ChronicDiseases,FrequentFlyer,EverTravelledAbroad,TravelInsurance
0,1008,26,Private Sector/Self Employed,Yes,1400000,5,0,No,Yes,1
1,199,30,Private Sector/Self Employed,No,1450000,5,0,Yes,Yes,1
2,86,32,Government Sector,Yes,900000,4,0,No,No,0
3,560,26,Private Sector/Self Employed,Yes,1400000,7,0,No,Yes,1
4,161,34,Private Sector/Self Employed,No,1400000,3,1,No,Yes,1

In [ ]:
# 데이터 전처리
x_train = train.drop(columns=["TravelInsurance", "ID"])
x_train = pd.get_dummies(x_train)

y_train = train["TravelInsurance"]

x_test = test.drop(columns=["ID"])
x_test = pd.get_dummies(x_test)
x_test = x_test.reindex(columns=x_train.columns)

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import roc_auc_score
from sklearn.model_selection import train_test_split

x_train, x_val, y_train, y_val = train_test_split(
    x_train, y_train, stratify=y_train, random_state=42
)
model = RandomForestClassifier(random_state=42)
model.fit(x_train, y_train)
y_pred = model.predict(x_val)
y_pred_proba = model.predict_proba(x_val)[:, 1]

model_roc_auc_score = roc_auc_score(y_val, y_pred_proba)
print(model_roc_auc_score)

y_test_pred = model.predict(x_test)
y_test_pred_proba = model.predict_proba(x_test)[:, 1]

pd.DataFrame({"ID": test["ID"], "proba": y_test_pred_proba}).to_csv(
    "20250619_2_prob.csv"
)

0.7638055555555556

In [2]:
import pandas as pd

df = pd.read_csv(
    "https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p3_1.csv"
)
df.head()

       ID     투약전     투약후
0  user_1  55.137  56.106
1  user_2  66.584  60.409
2  user_3  52.259  50.639
3  user_4  77.081  69.164
4  user_5  62.677  57.622

In [2]:
df

           ID     투약전     투약후
0      user_1  55.137  56.106
1      user_2  66.584  60.409
2      user_3  52.259  50.639
3      user_4  77.081  69.164
4      user_5  62.677  57.622
..        ...     ...     ...
230  user_231  78.041  81.021
231  user_232  77.187  68.417
232  user_233  50.640  51.139
233  user_234  58.133  49.653
234  user_235  55.422  55.179

[235 rows x 3 columns]

In [3]:
df["차이"] = df["투약후"] - df["투약전"]
a_result = len(df.loc[df["차이"] <= -3])
b_result = len(df.loc[df["차이"] == 0])
c_result = len(df.loc[df["차이"] > 0])
answer = a_result
print(answer)

121

In [5]:
from scipy.stats import chisquare

observed = [a_result, b_result, c_result]
total=sum(observed)
expected = [total * 0.5, total * 0.25, total* 0.25]
s, p = chisquare(f_obs=observed, f_exp=expected)
print(s, p)

58.892857142857146 1.6277157270414844e-13

In [7]:
print(len(df))

235

In [8]:
total

168